<table>
    <tr>
      <td><h2>Thank you! Your order has been successfully submitted for processing.</h2></td>
    </tr>
    <tr>
      <td><p>Your order will be delivered within 2-3 weeks.</p></td>
    </tr>
</table>

<table>
    <tr>
      <td>
        <p><strong>This email is created automatically. Please do not respond to this email.</strong></p>
        <p>If you need any help, please contact us through the Contact page!</p>
      </td>
    </tr>
    <tr>
      <td><p>Bike Berlin Central</p></td>
    </tr>
</table>
