<body class="payment_page">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12 thankyou_note">
        <h2 class="product_purchase"> Thank you for your purchase!</h2></div>
    </div>
  </div>
</body>
