h1{
  font-family: "Impact", Charcoal, sans-serif;
  color: maroon;
  text-align: center;
}

h2{
  font-family: "Tahoma", Geneva, sans-serif;
  font-style: italic;
  text-align: center;
  margin-top: -10px;
}

h3, p, strong{
  font-family: "Tahoma", Geneva, sans-serif;
  text-align: center;
  color: maroon;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: maroon;
    color: white;
    text-align: center;
    font-family: "Tahoma", Geneva, sans-serif;
}

.my-image{
  width: 100%;
  height: 100%;
  margin-right: 20px;
}


.nav{
  font-family: "Tahoma", Geneva, sans-serif;
}

.navbar-brand{
  font-family: "Impact", Charcoal, sans-serif;
}
