h1{
  font-family: "Impact", Charcoal, sans-serif;
  color: maroon;
  text-align: center;
}

h2{
  font-family: "Tahoma", Geneva, sans-serif;
  font-style: italic;
  text-align: center;
  margin-top: -10px;
}

h3, p{
  font-family: "Tahoma", Geneva, sans-serif;
  text-align: center;
  color: maroon;
}

h4 {
  font-family: "Impact", Charcoal, sans-serif;
  font-style: bold;
  color: #696969;
  text-align: center;
}

.row{
  margin-top: 50px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: maroon;
    color: white;
    text-align: center;
    font-family: "Tahoma", Geneva, sans-serif;
}

.my-image{
  width: 100%;
  height: 100%;
  margin-right: 20px;
  border: 3px maroon;
}


.nav{
  font-family: "Tahoma", Geneva, sans-serif;
}

.navbar-brand{
  font-family: "Impact", Charcoal, sans-serif;
}

.contact-image{
  width: 100%;
  text-align: center;
}

.search{
  padding-top: 8px;
  text-align: right;
}
