
<p id="notice"><%= notice %></p>

<h1>Products</h1>
<div class="products">
  <div class="container-fluid">
    <div class="row">
      <% cache @products do %>
        <% @products.each do |product| %>
          <%= render product %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

 <%= will_paginate @products, :page_links =>true %>

  <br>

<%= link_to 'New Product', new_product_path %>
